.minecraft/crash-reports/
.minecraft/backups/
.minecraft/ldlib/
.minecraft/logs/
.minecraft/local/
.minecraft/modernfix/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/shaderpacks/
.minecraft/.vscode/
.minecraft/*-natives/
.minecraft/natives-*/
.minecraft/coremods/
.minecraft/log4j2.xml
.minecraft/servers.dat
.minecraft/rhino.local.properties
.minecraft/servers.dat_old
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/*.jar
.minecraft/*.json
.minecraft/config/oculus.properties
.minecraft/config/roughlyenoughitems/
.minecraft/mods/*
.minecraft/kubejs/jsconfig.json
.minecraft/icon.png
/config/
/defaultconfigs/
/kubejs/
/libraries/
/mods/
/world/
/backups/
/ldlib/
/local/
/logs/
/modernfix/
/crash-reports/
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/whitelist.json
/run.bat
/run.sh
/server.properties
/user_jvm_args.txt
/.idea/
.DS_Store
instance.cfg
mmc-pack.json
!gtlcore-*.jar
