crash-reports/
backups/
ldlib/
logs/
local/
modernfix/
natives-osx-arm64/
saves/
screenshots/
.DS_Store
log4j2.xml
servers.dat
rhino.local.properties
servers.dat_old
usercache.json
usernamecache.json
shaderpacks/
/PCL
config/ae2/client.json
/GregTech Leisure-natives
config/jei/jei-client.ini
