.minecraft/crash-reports/
.minecraft/backups/
.minecraft/ldlib/
.minecraft/logs/
.minecraft/local/
.minecraft/modernfix/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/shaderpacks/
.minecraft/.vscode/
.minecraft/*-natives/
.minecraft/natives-*/
.minecraft/coremods/
.minecraft/log4j2.xml
.minecraft/servers.dat
.minecraft/rhino.local.properties
.minecraft/servers.dat_old
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/*.jar
.minecraft/*.json
.minecraft/config/oculus.properties
.minecraft/config/roughlyenoughitems/
.minecraft/icon.png
.DS_Store